<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary mb-4">
    <%= image_tag("shards-logo.svg", :alt => "Example Navbar 1", :class => "mr-2", :height => "30")%>
    <a class="navbar-brand" href="#">小聚</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-1" aria-controls="navbarNavDropdown-1"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown-1">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="https://designrevision.com" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Design</a>
            <a class="dropdown-item" href="#">Development</a>
            <a class="dropdown-item" href="#">Marketing</a>
        </div>
        </li>
    </ul>

    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fa fa-twitter"></i>
        </a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fa fa-facebook"></i>
        </a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fa fa-linkedin"></i>
        </a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fa fa-github"></i>
        </a>
        </li>
    </ul>
    </div>
</nav>

  <!-- Floating Shards -->
  <%= image_tag("play2.png", :alt => "Shard", :class => "shard")%>
  <!-- Welcome Section -->
  <div class="welcome d-flex justify-content-center flex-column">
    <div class="inner-wrapper mt-auto mb-auto">
      <h1 class="slide-in">小聚</h1>
      <p class="slide-in">去遇见，去尝试，去热爱</p>
      <div class="action-links slide-in">
        <a href="https://designrevision.com/downloads/shards" class="btn btn-primary btn-pill align-self-center">
          <i class="fa fa-download mr-1"></i>立即体验</a>
      </div>
    </div>
  </div>

  <!-- Cards -->
      <div id="cards" class="container mb-2" style="padding-bottom: 1px">
        <div class="section-title col-lg-8 col-md-12 ml-auto mr-auto">
          <h3 class="mb-4">最新活动</h3>
          <p> 看看最近有什么好玩的活动吧</p>
        </div>

        <div class="example col-md-12 ml-auto mr-auto">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <div class="card" style="height:500px;">
                <img class="card-img-top" src="https://media.wired.com/photos/598e35994ab8482c0d6946e0/master/w_2560%2Cc_limit/phonepicutres-TA.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">怀柔滑雪⛷</h4>
                  <p class="card-text">一起去怀柔滑雪场滑雪吧，限制10人，报名从速</p>
                  <a href="#" class="btn btn-primary">了解详情</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 sm-hidden">
              <div class="card" style="height:500px;">
                <img class="card-img-top" src="https://media.wired.com/photos/598e35994ab8482c0d6946e0/master/w_2560%2Cc_limit/phonepicutres-TA.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">云计算讲座</h4>
                  <p class="card-text">某某老师的云计算讲座</p>
                  <a href="#" class="btn btn-primary">了解详情</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 sm-hidden">
              <div class="card" style="height:500px;">
                <img class="card-img-top" src="https://media.wired.com/photos/598e35994ab8482c0d6946e0/master/w_2560%2Cc_limit/phonepicutres-TA.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">万达看《利刃出鞘》</h4>
                  <p class="card-text">一起到万达看《利刃出鞘》</p>
                  <a href="#" class="btn btn-primary">了解详情</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<div class="py-5">
        <!-- Icon Packs -->
        <div id="icon-packs" class="container mb-5">
          <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto mb-5">
            <h2 class="text-center mb-4">在这里，你可以</h2>
            <p class="text-center">自由自在地
              <b>发布活动</b> 和
              <b>参加活动</b>。和大家聚在一起度过一段快乐时光。</p>
          </div>
        </div>

        <div class="icons-example clearfix mb-5">
          <div class="icons-example-wrapper material-icons col-md-6 float-left">
            <div class="material-icons col-lg-3 col-md-3 col-sm-12 d-table text-center ml-auto mr-auto py-5">
              <i class="fas fa-plus fa-10x" style="color:white;"></i>
              <h2 class="text-light mb-2" style="margin-top:20px;">发起活动</h2>
              <h5 class="text-muted mb-0">分享你的计划</h5>
            </div>
          </div>

          <div class="icons-example-wrapper font-awesome col-md-6 float-left">
            <div class="material-icons col-lg-3 col-md-3 col-sm-12 d-table text-center mr-auto ml-auto py-5">
              <i class="fas fa-search fa-10x" style="color:white;"></i>
              <h2 class="text-light mb-2" style="margin-top:20px;">参加活动</h2>
              <h5 class="text-muted mb-0">寻找你感兴趣的聚会</h5>
            </div>
          </div>
        </div>
      </div>
<%@activities.each do |activity|%>
    <h3><%= activity.name %></h3>
    <%= button_to 'Join', attends_path(activity_id: activity) %>
<% end %>


<%= button_to 'Logout', logout_path, method: :delete %>