<div class="loader">
    <div class="page-loader"></div>
  </div>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary mb-4">
    <%= image_tag("shards-logo.svg", :alt => "Example Navbar 1", :class => "mr-2", :height => "30")%>
    <a class="navbar-brand" href="#">小聚</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-1" aria-controls="navbarNavDropdown-1"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown-1">
    <ul class="navbar-nav mr-auto">
    </ul>

    <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " href="/login">
            登录
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">
            注册
          </a>
        </li>
    </ul>
    </div>
</nav>

  <!-- Floating Shards -->
  <%= image_tag("play2.png", :alt => "Shard", :class => "shard")%>
  <!-- Welcome Section -->
  <div class="welcome d-flex justify-content-center flex-column">
    <div class="inner-wrapper mt-auto mb-auto">
      <h1 class="slide-in">小聚</h1>
      <p class="slide-in">去遇见，去尝试，去热爱</p>
      <div class="action-links slide-in">
        <a href="/activities" class="btn btn-primary btn-pill align-self-center">
          开始体验</a>
      </div>
    </div>
  </div>

  <!-- Cards -->
      <div id="cards" class="container mb-2" style="padding-bottom: 1px">
        <div class="section-title col-lg-8 col-md-12 ml-auto mr-auto">
          
          <h3 class="mb-4 text-center">最新活动</h3>
          <p class="text-center"> 看看最近有什么好玩的活动吧</p>
        </div>

        <div class="example col-md-12 ml-auto mr-auto">
          <div class="row">
            <% Activity.order('start_time DESC').take(3).each do |activity|%>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <div class="card">
                <%= image_tag(activity.pic_url, :class => "card-img", :style => "height:200px; object-fit: cover;")%>
                <div class="card-img-overlay">
                  <h4 class="card-title"><%= activity.name %></h4>
                  <p class="card-text" style="color: white;"><%= activity.description %></p>
                  <div style="vertical-align: middle;">
                    
                    <%= link_to '了解详情', activity, :class => "btn btn-primary btn-pill align-self-center"%>
                    <p style="color: white;text-align: center;height: 38px;display: block;line-height: 38px" class="float-right"><%=((activity.start_time - DateTime.now) / 1.day).ceil %> 天后</p>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>

<div class="py-5">
        <!-- Icon Packs -->
        <div id="icon-packs" class="container mb-5">
          <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto mb-5">
            <h2 class="text-center mb-4">在这里，你可以</h2>
            <p class="text-center">自由自在地
              <b>发布活动</b> 和
              <b>参加活动</b>。和大家聚在一起度过一段快乐时光。</p>
          </div>
        </div>

        <div class="icons-example clearfix mb-5">
          <div class="icons-example-wrapper material-icons col-md-6 float-left">
            <div class="material-icons col-lg-3 col-md-3 col-sm-12 d-table text-center ml-auto mr-auto py-5">
              <i class="fas fa-plus fa-fw fa-10x" style="color:white;"></i>
              <h2 class="text-light mb-2" style="margin-top:20px;">发起活动</h2>
              <h5 class="text-muted mb-0">分享你的计划</h5>
            </div>
          </div>

          <div class="icons-example-wrapper font-awesome col-md-6 float-left">
            <div class="material-icons col-lg-3 col-md-3 col-sm-12 d-table text-center mr-auto ml-auto py-5">
              <i class="fas fa-search fa-fw fa-10x" style="color:white;"></i>
              <h2 class="text-light mb-2" style="margin-top:20px;">参加活动</h2>
              <h5 class="text-muted mb-0">寻找你感兴趣的聚会</h5>
            </div>
          </div>
        </div>
      </div>
<%@activities.each do |activity|%>
    <h3><%= activity.name %></h3>
    <%= button_to 'Join', attends_path(activity_id: activity) %>
<% end %>


<%= button_to 'Logout', logout_path, method: :delete %>