<p id="notice"><%= notice %></p>

<h1>Acitivity Tags</h1>

<table>
  <thead>
    <tr>
      <th>Acitivity</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acitivity_tags.each do |acitivity_tag| %>
      <tr>
        <td><%= acitivity_tag.acitivity_id %></td>
        <td><%= acitivity_tag.tag_id %></td>
        <td><%= link_to 'Show', acitivity_tag %></td>
        <td><%= link_to 'Edit', edit_acitivity_tag_path(acitivity_tag) %></td>
        <td><%= link_to 'Destroy', acitivity_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acitivity Tag', new_acitivity_tag_path %>
