<%= form_with(model: attend, local: true) do |form| %>
  <% if attend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attend.errors.count, "error") %> prohibited this attend from being saved:</h2>

      <ul>
        <% attend.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :activity_id %>
    <%= form.number_field :activity_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
